<div class='container'>
  <div class='row'>

    <div class='span12'>
      <div class="page-header">
        <h1>Requesting Corrections</h1>
      </div>

      <p>The staff of the ACL Anthology can process requests for both
        <i>errata</i> and <i>revisions</i> for scholarly works that are
        already published.  These are processed at a lower priority than
        normal ingestion, maintenance and development work for the
        Anthology, but will be processed in due course.  While this
        service can help correct post-publication problems, due to
        certain difficulties and liabilities, the corrections have
        certain limitations, which we describe here.  <strong>It is
          strongly recommended to ensure your work is correct when
          published.</strong></p>

      <ul>
       	<li>An <i>Erratum</i> clarifies errors made in the original
       	  scholarly work.  Usually these are just short notes,
       	  correcting statements, equations or other problems in the
          original, and needs to be read with the original work.</li>

        <li>A <i>Revision</i> is a replacement to the original
          scholarly work (take note of the caveat below).  This format
          allows a correction to be read independently of the original
          scholarly work, but does not call highlight where the
          original has errors.</li>
      </ul>

      <p>Please take note of the following before requesting either
        service:</p>

      <ul>
        <li>The <strong>original published version is not
            invalidated</strong> by either service.  The original will
          still stand as published and cannot be withdrawn.  When using
          the ACL Anthology URL assigned to resolve the document, the
          original document will be found.</li>
        <li>The metadata page for the work and any indexing listing or
          search result will indicate the availability of an erratum or
          a revision.</li>
        <li>If the original work needs to be invalidated, we need to
          issue a <i>retraction</i>, a statement that replaces the
          original work's PDF.  This is a drastic measure that may
          have legal repercussions, and should be avoided whenever
          possible.  You must inform your proceedings and general
          chair of the hosting event, or journal editor-in-chief,
          before attempting to issue a retraction.
        <li>Any accompanying full volumes will not be retrofitted with
          either revisions or errata. Similarly, you do not need to
          provide the proper footers or headers for either revisions
          or errata.  It is still recommended that you keep page
          numberings of the original work, where possible.</li>
        <li>Requests to change the metadata of a work can be
          accommodated.  If the metadata changes impact the work's
          physical form (e.g., adding an additional author), a
          revision must also be supplied.</li>
        <li>Downstream consumers of the Anthology are typically
          notified of the change in your work's manifestation, but
          there are no guarantees that those services (e.g., search
          engines) will update their particulars.</li>
      </ul>

      <h3>Filing Corrections</h3>

      <p>To request a correction, <a href="https://github.com/acl-org/acl-anthology/issues/new?assignees=&labels=correction&template=correction.md&title=Correction">file an issue on our Github repository</a>.
        Please be sure to follow the instructions in <a href="https://github.com/acl-org/acl-anthology/issues/new?assignees=&labels=correction&template=correction.md&title=Correction">the issue template</a>.
        In particular, it is important to include the ACL Anthology ID (e.g., P00-1001) of the work you are referring to.
        If you are posting a revised PDF or erratum, you can attach it to the issue.
        Anthology staff will respond to your request in due time
      </p>
    </div>
  </div>
</div>
