<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
	<h1>(Not-so) Frequently Asked Questions<br/>
	<small>Everything else about your ACL Anthology</small></h1>
      </div>

      <UL>
	<LI><STRONG>Citing</STRONG>: Please do not publish the actual
	  links to this site in print publications, as these may
	  change over time. Instead, use Digital Object Identifiers
	  (DOIs) for newer materials (post-2015), or the persistent
	  URL for older materials (pre-2015)
	  e.g., <TT>http://www.aclweb.org/anthology/E91-1001</TT>
	  (thanks to Dragomir Radev and Haejoong Lee for the latter).
	  Both the DOIs and the persistent URLs embed the 8-character
	  ACL Anthology Identifier.  
	</LI>
	<LI><STRONG>Copyright</STRONG>: The ACL materials that are
	hosted in the Anthology are licensed to the genneral public
	under a liberal usage policy that allows unlimited
	reproduction, distribution and hosting of materials on any
	other website or medium, for non-commercial purposes.  Prior
	to 2016, all ACL materials are licensed using Creative Commons
	4.0 BY-NC-SA (Attribution, Non-Commercial, Share-Alike)
	license.  As of 2016, this policy has been relaxed further,
	and all subsequent materials are available to the general
	public on the terms of the Creative Commons 4.0 BY
	(Attribution) license; this means both commercial and
	non-commercial use is explicitly licensed to all.

	  <P>Note that these policies only cover ACL materials.  As
	  with the DOIs, this policy does not cover third-party
	  materials.  For reproduction privileges for such materials,
	  please approach the respective organizations.</P>
	</LI>
	<LI><STRONG>Digital Object Identifiers</STRONG>: The ACL uses
	DOIs to refer to scholarly works persistently in accordance
	with cross-disciplinary standards.  Prior to 2012, ACL
	materials were assigned DOIs by the Association of
	Computational Machinery (ACM).  Since 2014, ACL has assigned
	its own DOIs to materials using a convention based off of the
	ACL Anthology Identifiers.  In 2015, ACL had to change DOI
	prefix due to accounting practices for the ACM.  
	  <UL>
	    <LI>2014-2015: 10.3115</LI>
	    <LI>2015-current: 10.18653</LI>
	  </UL>
	  We strongly encourage the publication of DOIs in citing
	  bibliographies to help better cross-reference ACL materials.

	  <P>Note while the ACL Anthology hosts third-party materials
	  coming from sister societies, these materials are hosted
	  courtesy the ACL but are not assigned DOIs by the ACL due to
	  costs and copyright limitations; the DOI information above
	  is only applicable to ACL sponsored events by ACL, its
	  chapters or SIGs.</P>
	</LI>
	<LI><STRONG>Plain
	  Text</STRONG>: <A HREF="http://acl-arc.comp.nus.edu.sg/">ASCII
	  text and other metadata for a controlled subset of the
	  Anthology.</A>
	</LI>
	<LI><STRONG>Reflections</STRONG>: 
	    <%= link_to "Aravind Joshi", controller: "static_pages", action: "aj-reflections" %>,
	    <%= link_to "Karen Spärck Jones", controller: "static_pages", action: "ksj-reflections" %> 
	</LI>
	<LI><STRONG>Software</STRONG>: The ACL Anthology is running on
	completely open-source software, with further developments and
	customization done by the ACL Anthology staff.  The Anthology
	is a database-backed web application coded in Ruby on Rails
	and using the Project Blacklight for faceted browsing with
	underlying Java Lucene for searching. The source code for
	running the Anthology is available on GitHub:

	<A HREF="https://github.com/WING-NUS/acl">https://github.com/WING-NUS/acl</A>
	</LI>
      </UL>
    </div>
  </div>
</div>
