<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
	<h1>(Not-so) Frequently Asked Questions<br/>
	<small>Everything else about your ACL Anthology</small></h1>
      </div>

      <UL>
	<LI><STRONG>Citing</STRONG>: Please do not publish links to
	  this site in print publications. Instead use the persistent
	  URL resolver on the ACL site,
	  e.g., <TT>http://www.aclweb.org/anthology/E91-1001</TT> (thanks to
	  Dragomir Radev and Haejoong Lee), or when a Digital Object
	  Identifier (DOI) is present, refer to that identifier.</LI>
	<LI><STRONG>Plain
	  text</STRONG>: <A HREF="http://acl-arc.comp.nus.edu.sg/">ASCII
	  text and other metadata for a controlled subset of the
	  Anthology.</A></LI>
	<LI><STRONG>Reflections</STRONG>: 
	    <%= link_to "Aravind Joshi", controller: "static_pages", action: "aj-reflections" %>,
	    <%= link_to "Karen Spärck Jones", controller: "static_pages", action: "ksj-reflections" %> 
	</LI>
      </UL>
    </div>
  </div>
</div>
