<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
	<h1>(Not-so) Frequently Asked Questions<br/>
	<small>Everything else about your ACL Anthology</small></h1>
      </div>

      <UL>
	<LI><STRONG>Citing</STRONG>: Please do not publish the actual
	  links to this site in print publications, as these may
	  change over time. Instead, use Digital Object Identifiers
	  (DOIs) for newer materials (post-2015), or the persistent
	  URL for older materials (pre-2015)
	  e.g., <TT>http://www.aclweb.org/anthology/E91-1001</TT>
	  (thanks to Dragomir Radev and Haejoong Lee for the latter).
	  Both the DOIs and the persistent URLs embed the 8-character
	  ACL Anthology Identifier.  
	</LI>
	<LI><STRONG>Software</STRONG>: The ACL Anthology is running on
	completely open-source software, with further developments and
	customization done by the ACL Anthology staff.  The Anthology
	is a database-backed web application coded in Ruby on Rails
	and using the Project Blacklight for faceted browsing with
	underlying Java Lucene for searching. The source code for
	running the Anthology is available on GitHub:

	<A HREF="https://github.com/WING-NUS/acl">https://github.com/WING-NUS/acl</A>
	</LI>
	<LI><STRONG>Plain
	  text</STRONG>: <A HREF="http://acl-arc.comp.nus.edu.sg/">ASCII
	  text and other metadata for a controlled subset of the
	  Anthology.</A>
	</LI>
	<LI><STRONG>Reflections</STRONG>: 
	    <%= link_to "Aravind Joshi", controller: "static_pages", action: "aj-reflections" %>,
	    <%= link_to "Karen Spärck Jones", controller: "static_pages", action: "ksj-reflections" %> 
	</LI>
      </UL>
    </div>
  </div>
</div>
