<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
	<h1>ACL Anthology Ingestion and Progress Log</h1>
      </div>

      <P>Here, we list the events and significant achievements of the ACL Anthology in reverse chronological order.</P>

      <DL>
	<DT>2014:</DT>
	<DD>
	  <STRONG>Nov:</STRONG> J14-4; O14; U14; W14-35; <STRONG>Oct:</STRONG> W14-63 thru W14-68; F14; D14; W14-36 thru W14-37; W14-39 thru W14-42; <STRONG>Sep:</STRONG> K97 thru K14; J14-3; W14-44; W14-50; <STRONG>Aug:</STRONG> C14; S14; W14-45 thru W14-62; <STRONG>Jul:</STRONG> J14-2; W14-43; <STRONG>Jun:</STRONG> L14; P14; W14-15 thru W14-34; <STRONG>Apr:</STRONG> W14-01 thru W14-14; E14; <STRONG>Mar:</STRONG> Y13; J14-1; <STRONG>Feb 2014:</STRONG> W13-55; F13; 
	</DD>
	<DT>2013:</DT>
	<DD>
	  <STRONG>Dec:</STRONG> U13; O13; <STRONG>Nov:</STRONG> R13; W13-51 thru W13-53; W13-38; J13-4; <STRONG>Oct:</STRONG> W13-41 thru W13-47; W13-49 thru W13-50; D13; I13; W02-21; <STRONG>Sep:</STRONG> O09 thru O12; W13-48; W11-45; <STRONG>Aug:</STRONG> P13; W13-18 thru W13-36; J13-3; W13-40; W13-37; <STRONG>Jul:</STRONG> W13-18; <STRONG>May:</STRONG> J13-2; N13; W13-08 thru W13-17; S13; <STRONG>Apr:</STRONG> Q13-1; <STRONG>Mar:</STRONG> J12-1; C12; W12-47 thru W12-61; W13-01 thru W13-07; <STRONG>Jan:</STRONG> W12-63; 
	</DD>
	<DT>2012:</DT>
	<DD>
	  <STRONG>Dec:</STRONG> W12-62; O12; U12; Y12; <STRONG>Nov:</STRONG> J12-4; <STRONG>Oct:</STRONG> L12; <STRONG>Sep:</STRONG> W98-15; <STRONG>Aug:</STRONG> J12-3; <STRONG>Jul:</STRONG> P12; D12; W12-32 thru W12-45; W12-15; F12; W12-11 thru W12-14; <STRONG>Jun:</STRONG> W12-16; <STRONG>May:</STRONG> Y08-Y11; W12-17 thru W12-31; N12; S12; <STRONG>Apr:</STRONG> E12; W12-01 thru W12-10; <STRONG>Feb:</STRONG> Revamped beta goes live; <STRONG>Jan:</STRONG> J12-1; 
	</DD>
	<DT>2011:</DT>
	<DD>
	  <STRONG>Dec:</STRONG> S01; U11; L06; L04; L02; L00; W00-15 thru W00-19; <STRONG>Nov:</STRONG> W11-29; W11-39 thru W11-43; W11-44; R11; L10; O11; J11-4; <STRONG>Oct:</STRONG> W11-29, W11-38; I11; W11-30 thru W11-37; <STRONG>Sep:</STRONG> J11-3; <STRONG>Jul:</STRONG> D11; W11-21 thru W11-27; <STRONG>Jun:</STRONG> P11; W11-02 thru W11-19; W11-20; Search connectors to Searchbench and AAN; <STRONG>May:</STRONG> J11-2; <STRONG>Mar:</STRONG> J11-1; <STRONG>Feb:</STRONG> U03, U04, U10; <STRONG>Jan:</STRONG> W11-01;
	</DD>
	<DT>2010:</DT>
	<DD>
	  <STRONG>Dec:</STRONG> S98; J10-4; <STRONG>Nov:</STRONG> E03 (updated); <STRONG>Sep:</STRONG> J10-3; O10; W10-41; <STRONG>Aug:</STRONG> C10; W10-32 thru W10-40; <STRONG>Jul:</STRONG> P10; S10; W10-17 thru W10-30; R09; W09-40 thru W09-45; W10-31; <STRONG>May:</STRONG> J10-2; N10; W10-1 thru W10-16; <STRONG>Apr:</STRONG> U05 thru U09; <STRONG>Mar:</STRONG> O88 thru O09; Y95 thru Y07; <STRONG>Feb:</STRONG> J10-1; 
	</DD>
	<DT>2009:</DT>
	<DD>
	  <STRONG>Dec:</STRONG> J09-4; <STRONG>Oct:</STRONG> W09-38; <STRONG>Sep:</STRONG> J09-3, W09-39; <STRONG>Aug:</STRONG> P09, D09, W09-25 thru W09-36, W09-37; <STRONG>May:</STRONG> J09-2, N09, W09-11 thru W09-24; <STRONG>Mar:</STRONG> J09-1, E09, W09-1 thru W09-10; <STRONG>Feb:</STRONG> W03-29, W05-11, J08; 
	</DD>
	<DT>2008:</DT>
	<DD>
	  <STRONG>Dec:</STRONG> I05-1, J07; <STRONG>Nov:</STRONG> L08; <STRONG>Oct:</STRONG> W03-28, D08; <STRONG>Sep:</STRONG> C08, W08-12 thru W08-21; DOIs for all X, ACL-owned W02s; W08-22; <STRONG>Jul:</STRONG> FS, DOIs for P79-P06, minor metadata repair on P79-P06, W08-11, I08; <STRONG>Jun:</STRONG> P08, W08 (01-10); <STRONG>May:</STRONG> MT&amp;CL; <STRONG>Apr:</STRONG> J06; <STRONG>Mar:</STRONG> W01-0500 (EMNLP 01), W04-3200 (EMNLP 04), W03-22 thru W03-27 (EACL Workshops), Anthology facelift; <STRONG>Feb:</STRONG> M98, W03 (SIGdial '03), W04 (SIGdial '04); <STRONG>Jan:</STRONG> W07-23, Min-Yen Kan takes over editorship of the Anthology; 
	</DD>
	<DT>2007:</DT>
	<DD>
	  <STRONG>May:</STRONG> J05; <STRONG>Apr:</STRONG> N07, W07, about 12,500 papers in total; <STRONG>Jan:</STRONG> C04, N04, W04; 
	</DD>
	<DT>2006:</DT>
	<DD>
	  <STRONG>Sep:</STRONG> P04; <STRONG>Jul:</STRONG> P06, N06; <STRONG>May:</STRONG> E06; <STRONG>Jan:</STRONG> J04, AJCL issues from the 1970s (from microfiche); the anthology now contains 10110 papers. 
	</DD>
	<DT>2005:</DT>
	<DD>
	  <STRONG>Nov:</STRONG> HLT/EMNLP; <STRONG>Oct:</STRONG> IJCNLP; <STRONG>Jul:</STRONG> ACL; <STRONG>Jun:</STRONG> Three volumes of DARPA proceedings donated by Beth Sundheim, bringing the total to 9365 papers; <STRONG>Mar:</STRONG> Twelve volumes of DARPA proceedings (5,000pp) donated by Dave Lewis and Beth Sundheim have been digitized and added to the Anthology; 
	</DD>
	<DT>2004:</DT>
	<DD>
	  <STRONG>Sep:</STRONG> Added J03; <STRONG>May:</STRONG> Added J02, W02; the Anthology now contains 8350 papers. <STRONG>Apr:</STRONG> Anthology now incorporated into ACM Digital Library ; The Anthology helps your citation counts - most papers are now indexed by Citeseer and Scholar. 	
	</DD>
      </DL>
    </div>
  </div>
</div>
