{{/* This partial maps attachment types to icons or similar representations */}}
{{ if (eq .type "video") }}
<i class="fas fa-video"></i>
{{ else if (eq .type "note") }}
<i class="fas fa-file-alt"></i> {{/* or sticky-note? */}}
{{ else if (eq .type "poster") }}
<i class="fas fa-file-image"></i>
{{ else if (eq .type "presentation") }}
<i class="fas fa-file-powerpoint"></i>
{{ else if (eq .type "dataset") }}
<i class="fas fa-file-archive"></i>
{{ else if (eq .type "software") }}
<i class="fas fa-file-code"></i>
{{ else }}
<i class="fas fa-file"></i>
{{ end }}
