{{/* This partial creates a link to an author page. Its main purpose is to
     resolve variant spellings to canonical entries (as only canonical entries
     have author pages), while preserving the variant spelling in the link
     text.

     This partial expects a dictionary with the following entries:
        - ctx: The page context
        - person: A dict with key "id" (the ID of the person to link to, e.g., "hector-martinez-alonso"), and optional key "full" (a variant spelling)
        - class (optional): CSS classes for the link
*/}}
{{ $first_letter := slicestr .person.id 0 1 }}
{{ $entry := index .ctx.Site.Data.people $first_letter .person.id }}
{{ $link_to := printf "/people/%s/%s.md" $first_letter .person.id }}
<a href="{{ relref .ctx $link_to }}"{{ with .class }} class="{{ . }}"{{ end }}>{{ if isset .person "full" }}{{ .person.full }}{{ else }}{{ $entry.full }}{{ end }}</a>
