<!DOCTYPE html>


<div class="columns container my-2">
    <div class="column is-half is-offset-one-quarter">
    <h1 class="title">Report errors in your paper's metadata</h1>

  <form id="correction-form" method="post">
    <input type="hidden" name="volume_id" value="{{ .volume_id }}">
    <input type="hidden" name="anthology_id" value="{{ .anthology_id }}">
    <input type="hidden" name="authors" value="{{ .paper.author}}">
    <label for="paper_title">Paper title: </label>
    <input type="text" id="paper_title" name="paper_title" value="{{ .paper.title }}"><br><br>
    <label for="paper_url">Paper URL: </label>
    <input type="text" id="paper_url" name="paper_url" value="{{ .paper.url }}"><br><br>
    <label for="paper_author">Paper authors: </label>
    {{ range $index, $element := .paper.author }}
        {{ if $index }}
          <label for="paper_author_first">First Name: </label>
          <input type="text" id="paper_author_first_{{$index}}" name="paper_author_first_{{$index}}" value="{{ $element.first }}"><br><br>

          <label for="paper_author_last">Last Name: </label>
          <input type="text" id="paper_author_last_{{$index}}" name="paper_author_last_{{$index}}" value="{{ $element.last }}"><br><br>

          <!-- Is full name always first + last name?  -->
          <!-- <label for="paper_author_full">Full Name: </label>
          <input type="text" id="paper_author_full_{{$index}}" name="paper_author_full_{{$index}}" value="{{ $element.full }}"><br><br> -->
        {{ end }}
      {{ end }}
    <button type="submit">Submit</button>
    </div>
  </div>


<script>
  console.log("Script is running!");
  document.getElementById("correction-form").addEventListener("submit", function (event) {
    event.preventDefault();

    const formData = new FormData(event.target);
    const data = Object.fromEntries(formData.entries());
    console.log("Form Data:", data);

    const volume_id = data.volume_id
    const anthology_id = data.anthology_id
    const title = data.paper_title
    const url = data.paper_url

    const author = data.paper_author_first + " " + data.paper_author_last

    const filename = anthology_id + ".md"
    console.log("Filename:", filename);

    let fileText = `---
  volume_id: "${volume_id}"
  anthology_id: "${anthology_id}"
  title: "${title}"
  url: "${url}"
  author: "${author}"

---

`

    const encodedFileText = encodeURIComponent(fileText)
    console.log("Encoded File Text:", encodedFileText);

    const file_branch = "master/"
    const file_path = "data/"
    const githubQueryLink = "https://github.com/acl-org/acl-anthology/new/" + file_branch + file_path + "new?value=" + encodedFileText +"&filename=" + filename

  window.open(githubQueryLink)
});
</script>
