exclude: ^hugo/static/.*$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-ast
    - id: check-merge-conflict
    - id: check-xml
      exclude: |
          (?x)^(
              hugo/layouts/sitemap.xml|
              hugo/layouts/_default/rss.xml
          )$
    - id: check-yaml
      exclude: ^python/mkdocs.yml$
    - id: end-of-file-fixer
    - id: name-tests-test
      files: ^python/tests/.*\.py$
    - id: no-commit-to-branch
    - id: trailing-whitespace

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
    - id: insert-license
      files: ^python/.*\.py$
      args: ['--license-filepath', 'python/LICENSE.header', '--detect-license-in-X-top-lines=10']

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
    - id: black
      files: ^python/.*\.py$
      args: ['--config', 'python/pyproject.toml']

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.13
  hooks:
    - id: ruff
      files: ^python/.*\.py$
      args: ['--config', 'python/pyproject.toml']

- repo: https://github.com/python-poetry/poetry
  rev: '2.3.0'
  hooks:
    - id: poetry-check
      args: ['--lock', '--directory=python']
