exclude: ^hugo/static/.*$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-ast
    - id: check-merge-conflict
    - id: check-xml
      exclude: |
          (?x)^(
              hugo/layouts/sitemap.xml|
              hugo/layouts/_default/rss.xml
          )$
    - id: check-yaml
      exclude: ^python/mkdocs.yml$
      args: ['--unsafe']
    - id: end-of-file-fixer
    - id: name-tests-test
      files: ^python/tests/
      types: [file, python]
    - id: no-commit-to-branch
    - id: trailing-whitespace

- repo: local
  hooks:
    - id: validate-xml
      name: validate xml
      language: unsupported
      entry: jing -c data/xml/schema.rnc
      files: ^data/xml
      types: [xml]

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
    - id: insert-license
      files: ^python/
      types: [file, python]
      args: ['--license-filepath', 'python/LICENSE.header', '--detect-license-in-X-top-lines=10']

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
    - id: ruff-check
      name: ruff-check
      types: [file, python]
      args: ['--config', 'pyproject.toml', '--fix', '--show-fixes']

    - id: ruff-format
      name: ruff-format
      types: [file, python]
      args: ['--config', 'pyproject.toml']

- repo: https://github.com/astral-sh/uv-pre-commit
  # uv version.
  rev: 0.9.28
  hooks:
    - id: uv-lock
