/* Custom styles for main homepage */

.acl-news {
  @extend .mt-xl-n4;  /* Counteract large top margin */

  .acl-news-date {
    @extend .mb-2;
    @extend .font-weight-light;
    font-style: italic;
  }

  p:last-of-type {
    margin-bottom: 0 !important;
  }

  a {
    @extend .alert-link;
  }
}
