/* Custom styles for pages in info/ */

$color-gold: #FFD700;
$color-silver: #D7D7D7;
$color-bronze: #CD7F32;
// #AD8A56

.bg-gold {
  background-color: $color-gold;
}
.bg-silver {
  background-color: $color-silver;
}
.bg-bronze {
  background-color: $color-bronze;
}

pre {
  font-size: $font-size-sm;
  padding: 1rem;
  background-color: $gray-200;
}
