
.tex-math {
  font-weight: $font-weight-light;
}

.tex-math-unparsed {
  font-family: $font-family-monospace;
}

h1 .tex-math,
h2 .tex-math,
h3 .tex-math,
h4 .tex-math,
h5 .tex-math,
h6 .tex-math,
strong .tex-math
{
  font-weight: $font-weight-normal;
}
