
$enable-gradients: true;

$blue: #446E9B;
$red: #d9534f;
$orange: #f47c3c;
$green: #93C54B;
$cyan: #29ABE0;

$secondary: #dee2e6;
$yiq-contrasted-threshold: 200;

/* Required Bootstrap components */
@import 'vendor/bootstrap/scss/functions';
@import 'vendor/bootstrap/scss/variables';
@import 'vendor/bootstrap/scss/mixins';

$attachment_color: darken( $green, 10% );
$theme-colors: map-merge(
  $theme-colors,
  (
    "attachment":  $attachment_color
  )
);

/* Optional Bootstrap components -- we only include those we need */
@import 'vendor/bootstrap/scss/root';
@import 'vendor/bootstrap/scss/reboot';
@import 'vendor/bootstrap/scss/type';
@import 'vendor/bootstrap/scss/images';
@import 'vendor/bootstrap/scss/code';
@import 'vendor/bootstrap/scss/grid';
@import 'vendor/bootstrap/scss/tables';
@import 'vendor/bootstrap/scss/forms';
@import 'vendor/bootstrap/scss/buttons';
@import 'vendor/bootstrap/scss/transitions';
// @import 'vendor/bootstrap/scss/dropdown';
// @import 'vendor/bootstrap/scss/button-group';
// @import 'vendor/bootstrap/scss/input-group';
// @import 'vendor/bootstrap/scss/custom-forms';
@import 'vendor/bootstrap/scss/nav';
@import 'vendor/bootstrap/scss/navbar';
@import 'vendor/bootstrap/scss/card';
// @import 'vendor/bootstrap/scss/breadcrumb';
@import 'vendor/bootstrap/scss/pagination';
@import 'vendor/bootstrap/scss/badge';
// @import 'vendor/bootstrap/scss/jumbotron';
@import 'vendor/bootstrap/scss/alert';
// @import 'vendor/bootstrap/scss/progress';
// @import 'vendor/bootstrap/scss/media';
@import 'vendor/bootstrap/scss/list-group';
@import 'vendor/bootstrap/scss/close';
// @import 'vendor/bootstrap/scss/toasts';
// @import 'vendor/bootstrap/scss/modal';
@import 'vendor/bootstrap/scss/tooltip';
// @import 'vendor/bootstrap/scss/popover';
// @import 'vendor/bootstrap/scss/carousel';
// @import 'vendor/bootstrap/scss/spinners';
@import 'vendor/bootstrap/scss/utilities';
@import 'vendor/bootstrap/scss/print';

@import 'homepage';
@import 'info';
@import 'papers';
@import 'texmath';

/* Some space improvements on smaller displays */
@include media-breakpoint-down(sm) {
  h2#title {
    font-size: $h3-font-size !important;
  }
}

/* Fix spacing issues in nested lists */
ul ul, ul ol, ol ul, ol ol {
  & + p {
    margin-top: 1rem !important;
  }
}

.col-xl-width-auto {
  flex-basis: auto;
  width: auto;
}

.transform-lower-sm {
  text-transform: lowercase;
}
@include media-breakpoint-up(sm) {
  .transform-lower-sm {
    text-transform: unset !important;
  }
}

/* For co-author/venue info on people/ pages */
.list-group-compact {
  .list-group-item {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

.list-group-toggle-btn {
  @extend .btn;

  &[aria-expanded=false] {
    @extend .btn-info;
  }
  &[aria-expanded=true] {
    display: none;
  }
}
