
$enable-gradients: true;

$blue: #446E9B;
$red: #d9534f;
$orange: #f47c3c;
$green: #93C54B;
$cyan: #29ABE0;

$secondary: #dee2e6;
$yiq-contrasted-threshold: 200;

/* Required Bootstrap components */
@import 'vendor/bootstrap/scss/functions';
@import 'vendor/bootstrap/scss/variables';
@import 'vendor/bootstrap/scss/mixins';

/* Optional Bootstrap components */
@import 'vendor/bootstrap/scss/root';
@import 'vendor/bootstrap/scss/reboot';
@import 'vendor/bootstrap/scss/type';
@import 'vendor/bootstrap/scss/images';
@import 'vendor/bootstrap/scss/grid';
@import 'vendor/bootstrap/scss/tables';
@import 'vendor/bootstrap/scss/forms';
@import 'vendor/bootstrap/scss/buttons';
@import 'vendor/bootstrap/scss/nav';
@import 'vendor/bootstrap/scss/navbar';
@import 'vendor/bootstrap/scss/card';
@import 'vendor/bootstrap/scss/badge';
@import 'vendor/bootstrap/scss/alert';
@import 'vendor/bootstrap/scss/list-group';
@import 'vendor/bootstrap/scss/close';
@import 'vendor/bootstrap/scss/utilities';
@import 'vendor/bootstrap/scss/print';

@import 'homepage';
@import 'info';
@import 'papers';
@import 'texmath';

/* A responsive variant of Bootstrap's .btn-block */
@include media-breakpoint-up(lg) {
  .btn-lg-block {
    display: block;
    width: 100%;
  }
}

.list-pl-responsive {
  padding-left: 24px;
}
@include media-breakpoint-up(md) {
  .list-pl-responsive {
    padding-left: 32px;
  }
}
@include media-breakpoint-up(xl) {
  .list-pl-responsive {
    padding-left: 40px; // CSS default
  }
}
