
$enable-gradients: true;

@import 'vendor/bootstrap/scss/bootstrap';
@import 'papers';


/* A responsive variant of Bootstrap's .btn-block */
@include media-breakpoint-up(lg) {
  .btn-lg-block {
    display: block;
    width: 100%;
  }
}

.list-pl-responsive {
  padding-left: 24px;
}
@include media-breakpoint-up(md) {
  .list-pl-responsive {
    padding-left: 32px;
  }
}
@include media-breakpoint-up(xl) {
  .list-pl-responsive {
    padding-left: 40px; // CSS default
  }
}
