{{ define "title" }}
404 Not Found
{{ end }}

{{ define "main" }}
<main role="main">
  <h2 id="title" class="display-2">404</h2>
  <p class="lead"></p>
  <hr />

  <div class="alert alert-danger">
    <h4 class="alert-heading mb-4">The page you were looking for doesn't exist.</h4>

    <p>If you're looking for an author, visit the <a href="{{ ref "/people" }}">Author Directory</a>.</p>

    <p>Otherwise, visit the <a href="{{ absURL "" }}" class="alert-link">home page</a> to browse by venue, or use the site search at the top of the page.</p>

    <p class="mb-0">If you believe you're seeing this page in error, feel free
    to <a href="https://github.com/acl-org/acl-anthology/issues/new?assignees=mbollmann&labels=bug&template=10-generic-bug-report.yml" class="alert-link">file an
    issue on our Github repository</a>.</p>
  </div>
</main>
{{ end }}
