{{ define "title" }}
404 Not Found
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <h2 id="title" class="display-2">404</h2>
  <p class="lead"></p>
  <hr />

  <div class="alert alert-danger">
    <h4 class="alert-heading mb-4">The page you were looking for doesn't exist.</h4>

    <p>Go back to the <a href="{{ "/" | relURL }}" class="alert-link">home page</a> to browse the content of the Anthology, or try to use the search function (at the top) to find the content you were looking for.</p>

    <p class="mb-0">If you believe you're seeing this page in error, feel free
    to <a href="https://github.com/acl-org/acl-anthology/issues/new" class="alert-link">file an
    issue on our Github repository</a>.</p>
  </div>
</main>
{{ end }}
