{{ define "javascript" }}
<script>
  // Makes the header expand to the width of the (fluid) main container
  $(function () {
      var resize_navbar = function() {
          var width = 0;
          $('#main-container .col-12').each(function() {
              width += $(this).width();
          });
          $("#navbar-container").css("max-width", width);
      };
      $(window).resize(resize_navbar);
      resize_navbar();
  })
</script>
{{ end }}

{{ define "main" }}
<div class="row justify-content-center">
  {{ $.Scratch.Set "paper_count" 0 }}
  {{ range $.Site.Data.papers }}
    {{ $.Scratch.Add "paper_count" (len .) }}
  {{ end }}

  <div class="col-12 col-xl-2">
    <h2 class="pl-2 pb-2">Welcome to the ACL Anthology!</h2>

    <aside class="card acl-greeting font-weight-light mb-3">
      <div class="card-body">
        The ACL Anthology currently hosts {{ $.Scratch.Get "paper_count" }} papers on the study of computational linguistics and natural language processing.
      </div>
      <div class="card-body">
        <a href="http://groups.google.com/group/acl-anthology?hl=en">Subscribe to the mailing list</a> to receive announcements and updates to the Anthology.
      </div>
    </aside>

    <aside class="alert alert-info acl-news mb-3" role="alert">
      <!-- The news message pulls from content/_index.md -->
      {{ if (gt (time .PublishDate).Year 2018) }}
      <div class="acl-news-date">{{ .PublishDate.Format "January 2006" }}</div>
      {{ end }}
      {{ .Content }}
    </aside>

    <div class="row mb-3">
      {{ if (fileExists "/data-export/anthology.bib.gz") }}
      <div class="col-6 col-xl-12 mb-2">
        <a class="btn btn-block btn-info" href="{{ "/anthology.bib.gz" | relURL }}">Full Anthology as BibTeX ({{ printf "%.2f MB" (div (os.Stat "/data-export/anthology.bib.gz").Size 1000000.0) }})</a>
      </div>
      {{ end }}
      <div class="col-6 col-xl-12 mb-2">
        <a class="btn btn-block btn-warning" href="https://github.com/acl-org/acl-anthology/issues/170">Give feedback
        </a>
      </div>
    </div>
  </div><div class="col-12 col-xl-10 col-xl-width-auto">
    <main aria-role="main">
    <h6>ACL Events</h6>
    {{/* ACL EVENTS */}}
    {{/* Hardcoded range of years because the table layout depends on it */}}
    {{ $all_years := seq 2019 -1 1974 }}
    {{/* Years that should have a border on their left-hand side */}}
    {{ $border_years := slice "2019" "2009" "1999" "1989" }}

    <table class="table table-hover table-sm table-responsive small text-nowrap">
      <thead>
        <tr class="text-center border-left border-right">
          <th class="border-left" scope="col" style="width: 8rem;">Venue</th>
          <th class="border-left" scope="col" colspan="10">Present &ndash; 2010</th>
          <th class="border-left" scope="col" colspan="10">2009 &ndash; 2000</th>
          <th class="border-left" scope="col" colspan="10">1999 &ndash; 1990</th>
          <th class="border-left" scope="col" colspan="15">1989 and older</th>
        </tr>
      </thead>
      <tbody class="border-bottom">
        {{ range $venue := sort $.Site.Data.venues "slug" "asc" }}
        {{ if (and $venue.is_toplevel $venue.is_acl) }}
        <tr class="border-left border-right">
          {{ $venue_page := $.Site.GetPage (printf "/venues/%s.md" $venue.slug) }}
          {{ $acronym := index $venue_page.Params "venue" }}
          <th scope="row" class="text-center"><a href="{{ $venue_page.RelPermalink }}">{{ $acronym }}</a></th>
          {{ range $all_years }}
          {{ $year := string . }}
          {{/* this is the actual default case */}}
          <td class="{{ cond (in $border_years $year) "border-left" "" }}">
            {{- with index $venue "volumes_by_year" $year -}}
            <a href="{{ relref $ (printf "/events/%s-%s.md" $venue.slug $year) }}">{{ slicestr $year 2 4 }}</a>
            {{- end -}}
          </td>
          {{ end }}
        </tr>
        {{ end }}
        {{ end }}
        {{/* SIGs */}}
        <tr class="border-left border-right">
          <th scope="row" class="text-center">SIGs</th>
          <td class="border-left text-center" colspan="{{ len $all_years }}">
          {{ $sig_pages := (where $.Site.RegularPages "Section" "sigs").ByParam "short_acronym" }}
          {{ $len := len $sig_pages }}
          {{ range $index, $page := $sig_pages}}
            <a href="{{ $page.RelPermalink }}">{{ $page.Params.short_acronym }}</a>{{ if ne (add $index 1) $len }} | {{ end }}
          {{ end }}
          </td>
        </tr>
      </tbody>
    </table>

    <h6>Non-ACL Events</h6>
    {{/* NON-ACL EVENTS */}}
    {{/* Hardcoded range of years because the table layout depends on it */}}
    {{ $all_years := seq 2019 -1 1986 | append (slice 1982 1980 1978 1975 1973 1969 1967 1965) }}
    {{/* Years that should have a border on their left-hand side */}}
    {{ $border_years := slice "2019" "2009" "1999" "1989" }}

    <table class="table table-hover table-sm table-responsive small text-nowrap">
      <thead>
        <tr class="text-center border-left border-right">
          <th class="border-left" scope="col" style="width: 8rem;">Venue</th>
          <th class="border-left" scope="col" colspan="10">Present &ndash; 2010</th>
          <th class="border-left" scope="col" colspan="10">2009 &ndash; 2000</th>
          <th class="border-left" scope="col" colspan="10">1999 &ndash; 1990</th>
          <th class="border-left" scope="col" colspan="12">1989 and older</th>
        </tr>
      </thead>
      <tbody class="border-bottom">
        {{ range $venue := sort $.Site.Data.venues "slug" "asc" }}
        {{ if (and $venue.is_toplevel (not $venue.is_acl)) }}
        <tr class="border-left border-right">
          {{ $venue_page := $.Site.GetPage (printf "/venues/%s.md" $venue.slug) }}
          {{ $acronym := index $venue_page.Params "venue" }}
          <th scope="row" class="text-center"><a href="{{ $venue_page.RelPermalink }}">{{ $acronym }}</a></th>
          {{ range $all_years }}
          {{ $year := string . }}
          <td class="{{ cond (in $border_years $year) "border-left" "" }}">
            {{ with index $venue "volumes_by_year" $year }}
            <a href="{{ relref $ (printf "/events/%s-%s.md" $venue.slug $year) }}">
              {{- slicestr $year 2 4 -}}
            </a>
            {{ end }}</td>
          {{ end }}
        </tr>
        {{ end }}
      {{ end }}
      </tbody>
    </table>
  </main>
  </div>
</div>
{{ end }}
