{{ range $volume := .Site.Data.papers }}
   {{ range $anthology_id, $paper := $volume }}
      {{ $page := dict
         "kind" "page"
         "path" $anthology_id
         "slug" $anthology_id
         "params" (dict "anthology_id" $anthology_id)
         "title" $paper.title
         "dates" (dict "date" (time.AsTime $paper.ingest_date))
      }}
      {{ $.AddPage $page }}
   {{ end }}
{{ end }}
