{{ define "main" }}
{{ $first_letter := slicestr .Params.name 0 1 }}
{{ $person := index .Site.Data.people $first_letter .Params.name }}
<section id="main">
  <h2 id="title">
    <!-- {{- .Title -}} -->
    <span class="font-weight-normal">{{ $person.first }}</span> <span class="font-weight-bold">{{ $person.last }}</span>
  </h2>
  {{ with $person.comment }}
  <p class="font-weight-light text-muted">{{.}}</p>
  {{ end }}
  {{ with $person.variant_entries }}
  <p class="font-weight-light text-muted">
    <span class="font-italic">Also published as:</span>
    {{ $len := (len .) }}
    {{ range $index, $var := . }}
    {{ $var.first }} <span class="font-weight-normal">{{ $var.last }}</span>{{ if ne (add $index 1) $len }}, {{ end }}
    {{ end }}
  </p>
  {{ end }}
  {{ with $person.similar }}
  <p class="font-weight-light text-muted">
    <span class="font-italic">Other people with similar names:</span>
    {{ $len := (len .) }}
    {{ range $index, $sim_id := . }}
    {{ trim (partial "author_link.html" (dict "ctx" $ "person" (dict "id" $sim_id))) " \n" | safeHTML }}
    {{ $sim_person := index $.Site.Data.people (slicestr $sim_id 0 1) $sim_id }}{{ with $sim_person.comment }}({{.}}){{ end }}{{ if ne (add $index 1) $len }}, {{ end }}
    {{ end }}
  </p>
  {{ end }}
  <hr />

  <div class="row">
    <div class="col-lg-9">
      {{ .Scratch.Set "current_year" "" }}
      {{ range $person.papers }}
        {{/* Generate a heading per year -- assumes that papers are already sorted by year,
             which the YAML exporter should take care of */}}
        {{ $paper := index (index $.Site.Data.papers (slicestr . 0 3)) . }}
        {{ if ne $paper.year ($.Scratch.Get "current_year") }}
          <h4>{{ $paper.year }}</h4>
          {{ $.Scratch.Set "current_year" $paper.year }}
        {{ end }}

        {{ $page := printf "/papers/%s/%s/%s.md" (slicestr . 0 1) (slicestr . 0 3) . }}
        {{ ($.Site.GetPage $page).Render "list-entry" }}
      {{ end }}
    </div>

    <div class="col-lg-3">
      <a class="btn btn-lg btn-secondary btn-block mb-2" href="https://scholar.google.com/citations?{{ (querify "view_op" "search_authors" "mauthors" $person.full) | safeURL }}" title="Search for '{{ $person.full | htmlEscape }}' on Google Scholar">
        <i class="ai ai-google-scholar"></i><span class="pl-sm-2">Search</span>
      </a>

      {{/* Basic idea of this layout: on tiny displays, these cards are stacked
           (col-12), on medium-sized displays we display them side-by-side
           (col-md-6), while on larger displays, they are stacked again (col-lg-12)
           since they parent div becomes its own column then */}}
      <div class="row">
        <div class="col-12 col-md-6 col-lg-12">
          <div class="card">
            <h5 class="card-header">Co-authors</h5>
            <ul class="list-group list-group-flush list-group-compact">
              {{ range first 5 $person.coauthors }}
              <li class="list-group-item">
                {{ $co_id := index . 0 }}
                {{ partial "author_link.html" (dict "ctx" $ "person" (dict "id" $co_id) "class" "align-middle") }}
                <span class="badge badge-secondary align-middle ml-2">{{ index . 1 }}</span>
              </li>
              {{ end }}
              {{ if gt (len $person.coauthors) 5 }}
              <li class="list-group-item list-group-toggle-btn py-1" data-toggle="collapse" data-target="#more-coauthors" aria-expanded="false" aria-controls="more-coauthors">
                show all...
              </li>
              <div class="collapse border-top" id="more-coauthors">
              {{ range after 5 $person.coauthors }}
              <li class="list-group-item">
                {{ $co_id := index . 0 }}
                {{ partial "author_link.html" (dict "ctx" $ "person" (dict "id" $co_id) "class" "align-middle") }}
                <span class="badge badge-secondary align-middle ml-2">{{ index . 1 }}</span>
              </li>
              {{ end }}
              </div>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-12">
          <div class="card my-2 my-md-0 my-lg-2">
            <h5 class="card-header">Venues</h5>
            <ul class="list-group list-group-flush list-group-compact">
              {{ range first 5 $person.venues }}
              <li class="list-group-item">
                {{ $venue := index . 0 }}
                <a href="{{ relref $ (printf "/venues/%s.md" (index $.Site.Data.venues $venue "slug")) }}" class="align-middle">
                  {{- $venue -}}
                </a><span class="badge badge-secondary align-middle ml-2">{{ index . 1 }}</span>
              </li>
              {{ end }}
              {{ if gt (len $person.venues) 5 }}
              <li class="list-group-item list-group-toggle-btn py-1" data-toggle="collapse" data-target="#more-venues" aria-expanded="false" aria-controls="more-venues">
                show all...
              </li>
              <div class="collapse border-top" id="more-venues">
              {{ range after 5 $person.venues }}
              <li class="list-group-item">
                {{ $venue := index . 0 }}
                <a href="{{ relref $ (printf "/venues/%s.md" (index $.Site.Data.venues $venue "slug")) }}" class="align-middle">
                  {{- $venue -}}
                </a><span class="badge badge-secondary align-middle ml-2">{{ index . 1 }}</span>
              </li>
              {{ end }}
              </div>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
