
<div class="container">
	<hr>
	<div id ="footer" class="span12">
		<p>ACL materials are Copyright (C) 1963-2013 ACL; other materials are copyrighted by their respective copyright holders. All materials here are licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. Permission is granted to make copies for the purposes of teaching and research.</p>

		<p>Credits: The institutions and individuals behind the ACL Anthology.</p>
		
		<p><a href="http://www.comp.nus.edu.sg/~kanmy/">Min-Yen Kan</a> (Editor, 2008-) / 
		<a href="http://stevenbird.me/">Steven Bird</a> (Editor, 2001-2007)</p>

		<a id="cc_icon"rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
		<br>
	</div>
</div>