
<div class="container">
	<hr>
	<div id ="footer" class="span12">
		<p>ACL materials are Copyright &#169; 1963-2014 ACL; other materials are copyrighted by their respective copyright holders. All materials here are licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. Permission is granted to make copies for the purposes of teaching and research.</p>

		<p><%= link_to "Credits", controller: "static_pages", action: "credits" %>: The institutions and individuals behind the ACL Anthology.</p>
		
		<p><a href="http://www.comp.nus.edu.sg/~kanmy/">Min-Yen Kan</a> (Editor, 2008-) / 
		<a href="http://stevenbird.me/">Steven Bird</a> (Editor, 2001-2007)</p>

		<%= link_to image_tag('88x31.png', alt: "Creative Commons License", border: 0), "http://creativecommons.org/licenses/by-nc-sa/4.0/", rel: "license", id: "cc_icon" %>
	</div>
</div>
