<P><strong>May 2017:</strong>

<p>The current proceedings of the <a href="volumes/proceedings-of-the-21st-nordic-conference-on-computational-linguistics">21st</a> and the past
proceedings <a href="volumes/proceedings-of-the-4th-nordic-conference-of-computational-linguistics-nodalida-1983">4th</A>,
<A href="volumes/proceedings-of-the-3rd-nordic-conference-of-computational-linguistics-nodalida-1981">3rd</a>, 
<a href="volumes/proceedings-of-the-2nd-nordic-conference-of-computational-linguistics-nodalida-1979">2nd</a> 
and 
<a href="volumes/proceedings-of-the-1st-nordic-conference-of-computational-linguistics-nodalida-1977">1st</a>
Nordic Conference of Computational Linguistics (NODALIDA '17 and '83,
'81, '79 and '77) are now available in the Anthology. Also
the <A HREF="volumes/proceedings-of-the-nodalida-2017-workshop-on-universal-dependencies-udw-2017">NoDaLiDa 2017 Workshop on Universal Dependencies</A>
(UDW 2017) is also available on the ACL Anthology.

 </p>

<P>If you wish to submit your presentations or posters of your papers to be archived, please do by <A HREF="http://is.gd/fxDHDp">emailing us a copy at this link.</A></P>
