<P><strong>February 2017:</strong>

The past proceedings of the <A HREF="http://aclanthology.info/events/ws-1999#W99-10">12th</A>, <A HREF="http://aclanthology.info/events/ws-1998#W98-16">11th</A>, <A HREF="http://aclanthology.info/events/ws-1995#W95-02">10th</A>,  <A HREF="http://aclanthology.info/events/ws-1993#W93-04">9th</A> Nordic Conference of Computational Linguistics (NoDaLiDa '99, '98, '95 and '93) are now available in the Anthology. 

Also, if you wish to submit your presentations or posters of your papers to be archived, please do by <A HREF="http://is.gd/fxDHDp">emailing us a copy at this link.</A></P>
