<P><strong>January 2017:</strong>

The <A HREF="http://aclanthology.info/events/rocling-ijclclp-2016">Proceedings of the 28th Conference on Computational Linguistics and Speech Processing</A> (ROCLING 2016) and the past proceedings of the <A HREF="http://aclanthology.info/events/ws-2007#W07-24">16th</A>, <A HREF="http://aclanthology.info/events/ws-2005#W05-17">15th</A> and <A HREF="http://aclanthology.info/events/ws-2001#W01-17">13th</A> Nordic Conference of Computational Linguistics (NoDaLiDa '07, '05 and '01) are now available in the Anthology. 

Also, if you wish to submit your presentations or posters of your papers to be archived, please do by <A HREF="http://is.gd/fxDHDp">emailing us a copy at this link.</A></P>
