{{ range $venue_id, $venue := .Site.Data.venues }}
   {{ $venue_params := dict
      "venue" $venue.slug
      "acronym" $venue.acronym
   }}
   {{ with $venue.url }}
      {{ $venue_params = merge $venue_params (dict "venue_url" .) }}
   {{ end }}
   {{ $page := dict
      "kind" "page"
      "path" $venue.slug
      "slug" $venue.slug
      "params" $venue_params
      "title" $venue.name
   }}
   {{ $.AddPage $page }}
{{ end }}
