<!-- <h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>To modify this text to your specifications, copy this file located in the blacklight plugin directory:<br/>
&nbsp;&nbsp;&nbsp;<%= Blacklight.root %>/app/views/catalog/_home_text.html.erb</p>
<p>to your top level rails app:<br/>
&nbsp;&nbsp;&nbsp;<%= Rails.root %>/app/views/catalog/_home_text.html.erb</p>
<p>Note that you will need to create the 'catalog' directory under views.</p>
<% #Creates a bit space in the page -%>

-->

<table class="table table-hover table-bordered table-condensed">
	<thead>
		<tr>
			<th>Event</th>
			<th colspan="4">Present - 2010</th>
			<th colspan="10">2009 - 2000</th>
			<th colspan="10">1999 - 1990</th>
			<th colspan="10">1989 - 1980</th>
			<th colspan="10">1979 - 1970</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>ACL</th>
			<td>13</td><td>12</td><td>11</td><td>10</td>
			<td>09</td><td>08</td><td>07</td><td>06</td><td>05</td><td>04</td><td>03</td><td>02</td><td>01</td><td>00</td>
			<td>99</td><td>98</td><td>97</td><td>96</td><td>95</td><td>94</td><td>93</td><td>92</td><td>91</td><td>90</td>
			<td>89</td><td>88</td><td>87</td><td>86</td><td>85</td><td>84</td><td>83</td><td>82</td><td>81</td><td>80</td>
			<td>89</td><td>88</td><td>87</td><td>86</td><td>85</td><td>84</td><td>83</td><td>82</td><td>81</td><td>80</td>
		</tr>
	</tbody>
</table>