#author-sidebar {
    overflow: auto;
    width: 40;
    height: 100%;
    dock: left;

    #author-input {
        margin-bottom: 1;
    }

    #list-view {
        padding: 0 1;

        .disabled {
            color: $foreground-darken-3;
            text-style: italic;
        }
    }
}
