# This is important for returning the proper encoding for BibTeX files
AddDefaultCharset utf-8

# Only runs for files or directories that are not found
RewriteEngine On
# RewriteBase /anthology/

# Normal papers (nothing at the end: the canonical URL)
#RewriteRule ^(E)([0-9][0-9])\-([0-9][0-9][0-9][0-9])$ /anthology-files/pdf/$1/$1$2/$1$2-$3.pdf [L,NC]
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])$ $1/$1$2/$1$2-$3.pdf [L,NC]
# PDF link
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9]).pdf$ $1/$1$2/$1$2-$3.pdf [L,NC]
# Added by Min (18 Aug 2014) to cater for revisions/errata
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])([ve][0-9]+)$ $1/$1$2/$1$2-$3$4.pdf [L,NC]
# Added for attachments
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])(\..*)?$ $1/$1$2/$1$2-$3$4 [L,NC]
# Added for volumes (by Min, 25 Sep 2014)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9]{1,2})$ $1/$1$2/$1$2-$3.pdf [L,NC]

# Paper metadata pages (put / at end)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])\/$ papers/$1/$1$2/$1$2-$3/ [L,NC]
# BibTeX
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])\.([a-z]+)$ papers/$1/$1$2/$1$2-$3.$4 [L,NC]

# Author pages
RewriteRule ^people/([a-z])([a-z\-]*)$ people/$1/$1$2/ [L,NC]


# ----------------------------------------------------------------------
# Ugly section for lowercase paths (to transform to uppercase) (by Min, 25 Sep 2014)

# # If there are caps, set HASLOWER to true and skip next rule
# RewriteRule [w] - [E=HASLOWER:TRUE,S=1]

# # Skip this entire section if no lowercase letters in requested URL
# RewriteRule ![w] - [S=3]

# # Replace single occurence of cap with CAP, then process next rule.
# RewriteRule ^([^w]*)w(.*)$ //$1W//$2//

# # If there are any uppercase letters, restart at very first RewriteRule in file.
# RewriteRule [w] - [N]

# RewriteCond %{ENV:HASLOWER} TRUE
# RewriteRule ^/?(.*) /$1 [R=301,L]
# # ----------------------------------------------------------------------
# Old rules (attachments for revisions/errata?)
# RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])([ve][0-9]+)(\..*)?$ $1/$1$2/$1$2-$3$4$5 [L,NC]

# http://www.aclweb.org/anthology/w/w10/W10-2410.pdf
# http://www.aclweb.org/anthology/W/w10/W10-2410.pdf - > http://www.aclweb.org//W/W10/W10-2410.pdf/W10-2410.pdf
# http://www.aclweb.org/anthology/w/W10/W10-2410.pdf - > http://www.aclweb.org//W/W10/W10-2410.pdf/W10/W10-2410.pdf
RewriteCond %{HTTP_HOST} ^anthology\.aclweb\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.anthology\.aclweb\.org$
RewriteRule ^/?$ "http\:\/\/aclanthology\.info" [R=301,L]
