# See here for flags: https://httpd.apache.org/docs/2.4/rewrite/flags.html
#
# These rewrite rules attempt to redirect a number of supported URLs
# to the canonical location at https://www.aclweb.org/anthology/. The
# supported URLs are http[s]?://(www.)?anthology.aclweb.org/.
#
# In addition, we support a number of convenience shortcuts for PDF
# files and attachments, paper pages, and authors.

# This is important for returning the proper encoding for BibTeX files
AddDefaultCharset utf-8

# Use the Anthology-themed error document
ErrorDocument 404 /anthology/404.html

RewriteEngine On

#
# EXTERNAL REDIRECTIONS
#
# These rules contain external redirections: to HTTPS, to the canonical URLs, and others.
#

# Redirect non-canonical URL bases to https://aclweb.org/anthology/
RewriteCond %{HTTP_HOST} ^anthology\.aclweb\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.anthology\.aclweb\.org$
RewriteRule ^/?(.*) https://www.aclweb.org/anthology/$1 [R=301,L]

# Now we know we are at the canonical URL.
# Now make sure that we redirect from non-HTTPS to HTTPS.
# **Note**: at this point, paths are relative to /anthology, that is, they *do not include* the /anthology/ text.
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{SERVER_NAME}/anthology/$1 [R=301,L]

## PDF paths
# Redirect old canonical paths (e.g., P/P17/P17-1069.pdf -> https://www.aclweb.org/anthology/P17-1069)
# Note that since capture patterns can't be reused in the capture portion of the string, this is a leaky match
# that will also redirect X/Z19/P17-1069.pdf -> /anthology-files/pdf/P/P17/1-69.pdf
RewriteRule ^[A-Za-z]/[A-Za-z][0-9][0-9]/([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])(.pdf)?$ https://www.aclweb.org/anthology/$1$2-$3 [R=301,L]

# Redirect URLS with an explicit ".pdf" to the bare canonical version
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9]).pdf$ https://www.aclweb.org/anthology/$1$2-$3 [R=301,L]

#
# INTERNAL REDIRECTIONS
#
# These rules take valid external URLS (which are often virtual targets) and retrieve their target.
# They are invisible to the outside.
#

## PDF redirection
# Canonical URL (a plain ACL ID with no file extension, e.g., P17-1069 -> P/P17/P17-1069.pdf)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])$ /anthology-files/pdf/$1/$1$2/$1$2-$3.pdf [L,NC]

# Volume URLs (e.g., P17-1 -> P/P17/P17-1.pdf)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9]{1,2})$ /anthology-files/pdf/$1/$1$2/$1$2-$3.pdf [L,NC]

# PDF link (e.g., P17-1069.pdf -> P/P17/P17-1069.pdf)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9]).pdf$ /anthology-files/pdf/$1/$1$2/$1$2-$3.pdf [L,NC]

# Revisions and errata (e.g., P17-1069v2)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])([ve][0-9]+)$ /anthology-files/pdf/$1/$1$2/$1$2-$3$4.pdf [L,NC]

# Attachments (e.g., P17-1069.Poster.pdf -> /anthology-files/attachments/P/P17/P17-1069.Poster.pdf)
RewriteRule ^attachments/([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])(\..*)?$ /anthology-files/attachments/$1/$1$2/$1$2-$3$4 [L,NC]

# Old rule matching files with additional annotations on the canonical URL; I (MJP) am actually not sure whether every actually fires
#RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])(\..*)?$ $1/$1$2/$1$2-$3$4 [L,NC]

## Paper and author pages and bibtex
# The Paper metadata page (e.g., P17-1069/ -> papers/P/P17/P17-1069/index.html)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])\/$ papers/$1/$1$2/$1$2-$3/ [L,NC]

# BibTeX file (e.g., P17-1069.bib -> papers/P/P17/P17-1069.bib)
RewriteRule ^([A-Za-z])([0-9][0-9])\-([0-9][0-9][0-9][0-9])\.([a-z]+)$ papers/$1/$1$2/$1$2-$3.$4 [L,NC]

# Author pages (e.g., people/arya-d-mccarthy -> people/a/arya-d-mccarthy)
RewriteRule ^people/([a-z])([\-a-z0-9]*)$ people/$1/$1$2/ [L,NC]
