{{ $paper := index (index $.Site.Data.papers (slicestr .Params.anthology_id 0 3)) .Params.anthology_id }}
<p>
  <span class="mr-2">
  {{ if isset $paper "revision" }}
    {{ range last 1 $paper.revision }}
    <a class="badge badge-primary align-middle" href="{{ .url }}" title="Open latest revision PDF of '{{ $paper.title | htmlEscape }}'">
      pdf&nbsp;(v{{ .id }})
    </a>
    {{ end }}
    {{ range first 1 $paper.revision }}
    <a class="badge badge-secondary align-middle" href="{{ .url }}" title="Open original PDF of '{{ $paper.title | htmlEscape }}'">
      pdf&nbsp;(v{{ .id }})
    </a>
    {{ end }}
  {{ else }}
    <a class="badge badge-primary align-middle" href="{{ $paper.url }}" title="Open PDF of '{{ $paper.title | htmlEscape }}'">
      pdf
    </a>
  {{ end }}
    <!-- TODO: bib export link -->
    <a class="badge badge-secondary align-middle" href="#" title="Export '{{ $paper.title | htmlEscape }}' to bib format">
      bib
    </a>
    <a class="badge badge-secondary align-middle" href="https://www.google.com/search?{{ (querify "q" $paper.title) | safeURL }}" title="Search for '{{ $paper.title | htmlEscape }}' on Google">
      <i class="fas fa-search"></i>
    </a>
    {{ range $paper.attachment }}
      <a class="badge badge-attachment align-middle" href="{{ .url }}" title="Open {{ .type | humanize | lower }} for '{{ $paper.title | htmlEscape }}'">{{ partial "attachment_repr.html" . }}</a>
    {{ end }}
  </span>
    <strong><a class="align-middle" href="{{ .RelPermalink }}">{{ $paper.title_html | safeHTML }}</a></strong>
    <br />
    <span class="text-muted">[{{ .Params.anthology_id }}]:</span>
    {{ with $paper.author }}
      {{ $len := (len $paper.author) }}
      {{ range $index, $person := $paper.author }}
        {{ $first_letter := slicestr $person 0 1 }}
        <a href="{{ relref $ (printf "/people/%s/%s.md" $first_letter $person) }}">{{ (index $.Site.Data.people $first_letter $person).full }}</a>
        {{ if ne (add $index 1) $len }} | {{ end }}
      {{ end }}
    {{ end }}
</p>
