{{ define "meta" }}
{{ $volume_id := slicestr .Params.anthology_id 0 3 }}
{{ $paper := index (index .Site.Data.papers $volume_id) .Params.anthology_id }}
<meta content="{{ $paper.title }}" name="citation_title" >
{{ range $paper.author }}
  {{ $first_letter := slicestr .id 0 1 }}
  <meta content="{{ (index $.Site.Data.people $first_letter .id).full }}" name="citation_author" >
{{ end }}
{{ with $paper.parent_volume_id }}
  {{ $volume := index $.Site.Data.volumes . }}
  {{ if isset $volume "meta_journal_title" }}
  <meta content="{{ $volume.meta_journal_title }}" name="citation_journal_title" >
  {{ else }}
  <meta content="{{ $volume.title }}" name="citation_conference_title" >
  {{ end }}
  {{ with $volume.meta_volume }}<meta content="{{ . }}" name="citation_volume" >{{ end }}
  {{ with $volume.meta_issue }}<meta content="{{ . }}" name="citation_issue" >{{ end }}
  {{ with $volume.meta_date }}<meta content="{{ . }}" name="citation_publication_date" >{{ end }}
{{ end }}
{{ with $paper.url }}
  <meta content="{{ . }}" name="citation_pdf_url" >
{{ end }}
{{ with $paper.page_first }}<meta content="{{ . }}" name="citation_firstpage" >{{ end }}
{{ with $paper.page_last }}<meta content="{{ . }}" name="citation_lastpage" >{{ end }}
{{ with $paper.doi }}<meta content="{{ . }}" name="citation_doi" >{{ end }}
{{ end }}

{{ define "javascript" }}
<script src="{{ "/js/clipboard.min.js" | relURL }}"></script>
<script>
  $( document ).ready(function() {
      if (ClipboardJS.isSupported()) {
          new ClipboardJS(".btn-clipboard");
          $(".btn-clipboard").removeClass("d-none");
      }
  });
</script>
{{ end }}

{{ define "main" }}
{{ $anthology_id := .Params.anthology_id }}
{{ $volume_id := slicestr .Params.anthology_id 0 3 }}
{{ $paper := index (index .Site.Data.papers $volume_id) .Params.anthology_id }}
{{ $bibfile := printf "/papers/%s/%s/%s.bib" (slicestr $volume_id 0 1) $volume_id $anthology_id }}
<section id="main">
  <h2 id="title">
    <a href="{{ $paper.url }}">{{ $paper.title_html | safeHTML }}</a>
  </h2>
  {{ with $paper.author }}
  <p class="lead">
    {{ $len := (len .) }}
    {{ range $index, $person := . }}
      {{ partial "author_link.html" (dict "ctx" $ "person" $person) | chomp }}{{ if ne (add $index 1) $len }}, {{ end }}
    {{ end }}
  {{ end }}
  <hr />

  <div class="row acl-paper-details">
    <div class="col col-lg-10 order-2">
      {{ with $paper.abstract_html }}
      <div class="card bg-light mb-2 mb-lg-3">
        <div class="card-body acl-abstract">
          <h5 class="card-title">Abstract</h5>
          {{ . | safeHTML }}
        </div>
      </div>
      {{ end }}

    <!-- To avoid cluttering this template with Bootstrap classes, the styling
    for this list is defined in assets/css/_papers.scss -->
    <dl>
      <dt>Anthology ID:</dt>
      <dd>{{ $anthology_id }}</dd>

      {{ range $paper.revision }}
        {{ if eq .id "1" }}
        <dt>Original:</dt>
        {{ else }}
        <dt>Version {{ .id }}:</dt>
        {{ end }}
        <dd><a href="{{ .url }}">{{ .value }}</a></dd>
      {{ end }}
      {{ range $paper.erratum }}
        <dt>Erratum e{{ .id }}:</dt>
        <dd><a href="{{ .url }}">{{ .value }}</a></dd>
      {{ end }}

      <dt>Volume:</dt>
      <dd>
        {{- with $paper.parent_volume_id -}}
        {{ $volume := index $.Site.Data.volumes . }}
        {{ $volume_page := printf "/volumes/%s.md" . }}
        <a href="{{ relref $ $volume_page }}">{{ $volume.title }}</a>
        {{- end -}}
      </dd>

      <dt>Month:</dt>
      <dd>{{ with $paper.month }}{{ . }}{{ end }}</dd>
      <dt>Year:</dt>
      <dd>{{ with $paper.year }}{{ . }}{{ end }}</dd>
      <dt>Address:</dt>
      <dd>{{ with $paper.address }}{{ . }}{{ end }}</dd>

      {{ with $paper.parent_volume_id }}
      {{ $volume := index $.Site.Data.volumes . }}
      <dt>{{ if gt (len $volume.venues) 1 }}Venues:{{ else }}Venue:{{ end }}</dt>
      <dd>
        {{- $len := (len $volume.venues) -}}
        {{- range $index, $venue := $volume.venues -}}
          <a href="{{ relref $ (printf "/venues/%s.md" (index $.Site.Data.venues $venue "slug")) }}">
            {{- $venue -}}
          </a>
          {{ if ne (add $index 1) $len }} | {{ end }}
        {{- end -}}
      </dd>
      <dt>{{ if gt (len $volume.sigs) 1 }}SIGs:{{ else }}SIG:{{ end }}</dt>
      <dd>
        {{- $len := (len $volume.sigs) -}}
        {{- range $index, $sig := $volume.sigs -}}
          {{ $slug := index $.Site.Data.sigs $sig "slug" }}
          <a href="{{ relref $ (printf "/sigs/%s.md" $slug) }}">{{ $sig }}</a>
          {{ if ne (add $index 1) $len }} | {{ end }}
        {{- end -}}
      </dd>
      {{ end }}

      <dt>Publisher:</dt>
      <dd>{{ with $paper.publisher }}{{ . }}{{ end }}</dd>
      <dt>Note:</dt>
      <dd>{{ with $paper.note }}{{ . }}{{ end }}</dd>
      <dt>Pages:</dt>
      <dd>{{ with $paper.pages }}{{ . }}{{ end }}</dd>
      <dt>URL:</dt>
      <dd>{{ with $paper.url }}<a href="{{ . }}">{{ . }}</a>{{ end }}</dd>
      <dt>DOI:</dt>
      <dd>{{ with $paper.doi }}<a href="http://dx.doi.org/{{ . }}" title="To the current version of the paper by DOI">{{ . }}</a>{{ end }}</dd>
      <!--
      <dt>Bibtype:</dt>
      <dd>{{ with $paper.bibtype }}{{ . }}{{ end }}</dd>
      <dt>Bibkey:</dt>
      <dd>{{ with $paper.bibkey }}{{ . }}{{ end }}</dd>
      -->
      <dt class="acl-button-row">Bib Export formats:</dt>
      <dd class="acl-button-row">
      {{ if (fileExists (printf "/data-export/%s" $bibfile)) }}
        <a class="btn btn-secondary btn-sm" href="{{ $bibfile | relURL }}">BibTeX</a>
      {{ end }}
      {{ $expfile := printf "/papers/%s/%s/%s.xml" (slicestr $volume_id 0 1) $volume_id $anthology_id }}
      {{ if (fileExists (printf "/data-export/%s" $expfile)) }}
        <a class="btn btn-secondary btn-sm" href="{{ $expfile | relURL }}">MODS XML</a>
      {{ end }}
      {{ $endfile := printf "/papers/%s/%s/%s.endf" (slicestr $volume_id 0 1) $volume_id $anthology_id }}
      {{ if (fileExists (printf "/data-export/%s" $endfile)) }}
        <a class="btn btn-secondary btn-sm" href="{{ $endfile | relURL }}">EndNote</a>
      {{ end }}
      {{ if (fileExists (printf "/data-export/%s" $bibfile)) }}
        <button type="button" class="btn btn-clipboard btn-secondary btn-sm d-none" data-clipboard-text="{{ readFile (printf "/data-export/%s" $bibfile) }}"><i class="far fa-clipboard pr-2"></i>Copy BibTeX to Clipboard</button>
      {{ end }}
      </dd>

      {{ range $paper.attachment }}
      <dt class="acl-button-row">{{ humanize .type }}:</dt>
      <dd class="acl-button-row"><a href="{{ .url }}" class="btn btn-attachment btn-sm">{{ partial "attachment_repr.html" . }}&nbsp;{{ .filename }}</a></dd>
      {{ end }}
    </dl>
    </div>

    <!-- Most of the styling for this block is set in _papers.scss to avoid clutter -->
    <div class="acl-paper-link-block">
      {{ if isset $paper "revision" }}
        {{ range last 1 $paper.revision }}
        <a class="btn btn-primary" href="{{ .url }}" title="Open latest revision PDF of '{{ $paper.title | htmlEscape }}'">
          <i class="far fa-file-pdf"></i><span class="pl-2">PDF&nbsp;<small>(v{{ .id }})</small></span>
        </a>
        {{ end }}
        {{ range first 1 $paper.revision }}
        <a class="btn btn-secondary" href="{{ .url }}" title="Open original PDF of '{{ $paper.title | htmlEscape }}'">
          <i class="far fa-file-pdf"></i><span class="pl-2">PDF&nbsp;<small>(v{{ .id }})</small></span>
        </a>
        {{ end }}
      {{ else }}
        {{ with $paper.url }}
        <a class="btn btn-primary" href="{{ . }}"  title="Open PDF of '{{ $paper.title | htmlEscape }}'">
          <i class="far fa-file-pdf"></i><span class="pl-2">PDF</span>
        </a>
        {{ end }}
      {{ end }}
      {{ if (fileExists (printf "/data-export/%s" $bibfile)) }}
      <a class="btn btn-secondary" href="{{ $bibfile | relURL }}" title="Export '{{ $paper.title | htmlEscape }}' to bib format">
        <i class="fas fa-file-export"></i><span class="pl-2 transform-lower-sm">Bib</span><span class="d-none d-sm-inline">TeX</span>
      </a>
      {{ end }}
      <a class="btn btn-secondary" href="https://scholar.google.com/scholar?{{ (querify "q" $paper.title) | safeURL }}" title="Search for '{{ $paper.title | htmlEscape }}' on Google Scholar">
        <i class="ai ai-google-scholar"></i><span class="pl-sm-2 d-none d-sm-inline">Search</span>
      </a>
      {{ range $paper.attachment }}
      <a class="btn btn-attachment d-flex flex-wrap justify-content-center" href="{{ .url }}" title="Open {{ .type | humanize | lower }} for '{{ $paper.title | htmlEscape }}'">
        <span class="align-self-center px-1">{{ partial "attachment_repr.html" . -}}</span>
        <span class="px-1">{{ humanize .type }}</span>
      </a>
      {{ end }}
    </div>
  </div>
  <hr />
</section>
{{ end }}
