// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#bib-export {
	input {
		position: relative;
		top: -3px;
		
	}

	label {
		padding-left: 0.5em;
		padding-right: 2em;
	}
}