---
Title: Verified authors
linktitle: Verification
subtitle: How the ACL Anthology verifies authors
date: "2025-12-29"
---
Every author appearing on a paper in the Anthology is given an author page. The ACL Anthology distinguishes between verified and unverified authors.

A _verified_ author is one for whom we have an explicit entry in our names database.
This can happen either automatically or manually. Entries are created automatically when a paper is ingested with ORCID iD information attached to the papers author(s). We also create entries manually when we intervene to disambiguate authors with similar names or who publish under multiple names. We include a link to the ORCID profile from each verified author's page.

An _unverified_ author is one for whom we do not have an explicit entry in our names database. Unverified pages have `/unverified/` appended to the URL. These pages are created automatically when a paper is ingested without ORCID iD information attached to the authors. Unverified author pages do not include a link to an ORCID profile, but instead include a question mark icon next to the author's name.

We urge every author to create an [ORCID iD](https://orcid.org), and to supply this ID to publication systems such as Open Review. The reason is that we use this information at ingestion time to match appers to an author. This is increasingly important as the size of the global scientific community increases, and ambiguous names proliferate. Please see our simple [ORCID iD guide]({{< ref "/info/orcid">}}) for information that will help match your papers to your Anthology page.
