---
Title: Verified authors
linktitle: Verification
subtitle: How the ACL Anthology verifies authors
date: "2025-09-19"
---
The ACL Anthology distinguishes between verified and unverified people.

A _verified_ person is one for whom we have an explicit entry in our names database.
This can happen in two ways: manual verification, or automatically via the provision
of an ORCID iD.
