name: check-build

on:
  pull_request:
    branches:
      - master

# only run one at a time per branch
concurrency:
  group: check-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-build:
    runs-on:
      labels: ubuntu-latest-m
    env:
      HUGO_VERSION: 0.154.2
      DART_SASS_VERSION: 1.97.1
    steps:
    - name: Install Hugo
      run: wget "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb" && sudo dpkg -i "hugo_extended_${HUGO_VERSION}_linux-amd64.deb"
    - name: Install Dart Sass
      run: |
        mkdir -p "${HOME}/.local"
        curl -sLJO "https://github.com/sass/dart-sass/releases/download/${DART_SASS_VERSION}/dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
        tar -C "${HOME}/.local" -xf "dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
        rm "dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
        echo "${HOME}/.local/dart-sass" >> "${GITHUB_PATH}"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install other dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y jing bibutils openssh-client rsync libyaml-dev libpython3-dev
    - uses: actions/checkout@v3

    - name: Run Python library integration tests
      run: uv run --frozen pytest -m "integration"
      working-directory: ./python

    - name: Build website
      run: make check site
