name: Python library

on:
  push:
    branches:
      - master
      - python-dev
    paths:
      - '.pre-commit-config.yaml'
      - '.codecov.yml'
      - 'python/**'
  pull_request:
    paths:
      - '.pre-commit-config.yaml'
      - '.codecov.yml'
      - 'python/**'

jobs:
  tests:
    name: "Tests"
    defaults:
      run:
        working-directory: ./python
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      # Setup all dependencies
      - uses: actions/checkout@v5
      - name: Install uv and set python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          working-directory: python
      - name: Install dependencies
        run: uv sync --frozen --verbose
      - name: Cache pre-commit hooks based on pre-commit config
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ matrix.os }}|${{ matrix.python-version }}|${{ hashFiles('~/.pre-commit-config.yaml') }}
      - name: Print information about CI environment (for debugging)
        run: |
          locale
          uv run --frozen python -c "import locale; print(locale.getpreferredencoding())"

      # Run all checks and tests
      - name: Run pre-commit hooks
        run: uv run --frozen pre-commit run --all-files
        env:
          SKIP: no-commit-to-branch,validate-xml
      - name: Run type checker
        run: uv run --frozen mypy acl_anthology
      # Running 'import TexSoup' is a terrible hack that seems to fix import
      # errors from pytest, probably through byte-compiling the package
      - name: Run tests
        run: |
          uv run --frozen python -c "import TexSoup"
          uv run --frozen pytest -m "not integration" --cov=acl_anthology --cov-report=xml --trace-config

      # Run integration tests, but only run on latest Python version to save time
      - name: Run integration tests
        if: ${{ matrix.python-version == '3.14' }}
        run: uv run --frozen pytest -m "integration" --cov=acl_anthology --cov-report=xml --cov-append

      # Coverage report
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
