# Publishes the build to our current mirror, aclanthology.org

name: publish-aclanthology

on:
  push:
    branches:
      - master

# only run one at a time
concurrency: publish

jobs:
  publish-aclanthology:
    if: github.repository == 'acl-org/acl-anthology'
    runs-on:
      labels: ubuntu-latest-m
    env:
      HUGO_VERSION: 0.154.2
      DART_SASS_VERSION: 1.97.1
    steps:
    - name: install hugo
      run: wget "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb" && sudo dpkg -i "hugo_extended_${HUGO_VERSION}_linux-amd64.deb"
    - name: Install Dart Sass
      run: |
        mkdir -p "${HOME}/.local"
        curl -sLJO "https://github.com/sass/dart-sass/releases/download/${DART_SASS_VERSION}/dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
        tar -C "${HOME}/.local" -xf "dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
        rm "dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
        echo "${HOME}/.local/dart-sass" >> "${GITHUB_PATH}"
    - name: install uv
      uses: astral-sh/setup-uv@v7
    - name: update
      run: sudo apt-get update
    - name: install other deps
      run: sudo apt-get install -y jing bibutils openssh-client rsync libyaml-dev libpython3-dev
    - name: dump secret key
      env:
        SSH_KEY: ${{ secrets.PUBLISH_SSH_KEY }}
      run: |
        mkdir -p $HOME/.ssh/
        echo "$SSH_KEY" > $HOME/.ssh/id_rsa
        chmod 600 $HOME/.ssh/id_rsa
    - uses: actions/checkout@v3
    - name: build
      env:
        ANTHOLOGY_PREFIX: https://aclanthology.org
      run: |
        make ANTHOLOGY_PREFIX=${ANTHOLOGY_PREFIX} check site
    - name: publish
      run: |
        make ANTHOLOGY_PREFIX=${ANTHOLOGY_PREFIX} upload
